.header{
    background-color: #282c34; /* Fondo oscuro */
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #61dafb; /* Azul claro */
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: white;
    border-bottom: 2px solid #61dafb; /* Indicador de la ruta activa */
}
